

services : 
  sales_db: 
    image: postgres:16-alpine
    environment: 
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=root123
      - POSTGRES_DB=sales_db
    ports : 
      - "5432:5432" 
    volumes: 
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U netflix_user -d netflix_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
        - sales_network 
    
volumes:
  pgdata:

networks:
  sales_network:
    driver: bridge
    name: sales_network
